<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>View Trip</title>
</head>

<style>
    .controls{
        display: inline-block;
        margin-left: 400px;
    }
    .info{
        display: inline-block;
    }
</style>


<body>
    <div class="info">
	{% for x in trips %}
		<h2>{{x.description}}</h2>
		<p>Planned By: {{x.user.first_name}} {{x.user.last_name}} </p>
		<p>Description: {{x.plan}}</p>
		<p>Travel Date From: {{x.start_date.date}}</p>
		<p>Travel Date To: {{x.end_date.date}}</p>
		<h3>Other Users Joining the Trip</h3>
	{% endfor %}
	{% for x in attendees %}
		<li>{{x.first_name}} {{x.last_name}}</li>
    {% endfor %}
    </div>
	
	<div class="controls">
    <p><a href="/travels">Back</a> | <a href="/logout">Logout</a></p>
    </div>
</body>
</html>